## Lab | Customer Analysis Round 1

In [1]:
import pandas as pd

In [3]:
#1/ Read the three files into python as dataframes
file1 = pd.read_csv("file1.csv")
file2 = pd.read_csv("file2.csv")
file3 = pd.read_csv("file3.csv")

In [4]:
#2/ Show DataFrame Shape
print("DataFrame Shape", file1.shape)
print("DataFrame Shape", file2.shape)
print("DataFrame Shape", file3.shape)

DataFrame Shape (1071, 19)
DataFrame Shape (996, 15)
DataFrame Shape (7070, 11)

In [16]:
#3.1/ Standardize header names
list(file1.columns)

['Customer',
 'State',
 'Gender',
 'Education',
 ' Customer Lifetime Value ',
 'Income',
 'Monthly Premium Auto',
 'Number of Open Complaints',
 'Policy Type',
 'Vehicle Class',
 'Total Claim Amount',
 'Unnamed: 11',
 'Unnamed: 12',
 'Unnamed: 13',
 'Unnamed: 14',
 'Unnamed: 15',
 'Unnamed: 16',
 'Unnamed: 17',
 'Unnamed: 18']

In [14]:
#3.2/ Standardize header names
list(file2.columns)

['Customer',
 'State',
 'Gender',
 'Education',
 'Customer Lifetime Value',
 'Income',
 'Monthly Premium Auto',
 'Number of Open Complaints',
 'Policy Type',
 'Vehicle Class',
 'Total Claim Amount',
 'Unnamed: 11',
 'Unnamed: 12',
 'Unnamed: 13',
 'Unnamed: 14']

In [23]:
#3.3/ Standardize header Names
list(file3.columns)

['Customer',
 'State',
 'Gender',
 'Education',
 'Customer Lifetime Value',
 'Income',
 'Monthly Premium Auto',
 'Number of Open Complaints',
 'Policy Type',
 'Vehicle Class',
 'Total Claim Amount']

In [19]:
# {Correction 1.1} - Removing unused columns
file1 = file1.drop(['Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18'], axis = True)

In [20]:
# {Correction 1.2} - Removing unused columns
file2 = file2.drop(['Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14'], axis = True)

In [32]:
#4/ Rearrange columns in dataframe as needed {Header list creation}
names1 = list(file1.columns)
names2 = list(file2.columns)
names3 = list(file3.columns)

In [33]:
#4.1/ Header Name check
list(names1)

['Customer',
 'State',
 'Gender',
 'Education',
 'Customer Lifetime Value',
 'Income',
 'Monthly Premium Auto',
 'Number of Open Complaints',
 'Policy Type',
 'Vehicle Class',
 'Total Claim Amount']

In [31]:
#4.1/ Cont.
file1 = file1.rename(columns = {' Customer Lifetime Value ':'Customer Lifetime Value'})

In [34]:
#4.1/ Cont.header check
names1 == names2 == names3

True

In [35]:
#5.1/ Concatenate the three dataframes (Creating a new dataframe "data1")
data1 = pd.concat([file1, file2, file3], axis = 0)

In [36]:
#5.2/ New dataframe Header Check
data1.head()

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0,1000,0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,"6,979.54",0,94,0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,"12,887.43",48767,108,0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,"7,645.86",0,106,0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,"5,363.08",36357,68,0,Personal Auto,Four-Door Car,17.269323

In [37]:
#5.3/ New dataframe shape check
data1.shape

(9137, 11)

In [40]:
#6 Which columns are numerical?
list(data1.select_dtypes('number').columns)

['Income',
 'Monthly Premium Auto',
 'Number of Open Complaints',
 'Total Claim Amount']

In [41]:
#7 Which columns are categorical?
list(data1.select_dtypes('object').columns)

['Customer',
 'State',
 'Gender',
 'Education',
 'Customer Lifetime Value',
 'Policy Type',
 'Vehicle Class']

In [45]:
#8/ Delete columns "Education" and "Number of open complaints" from data1
#   Created new df "data2" to store updated columns
data2 = data1.drop(['Education', 'Number of Open Complaints'], axis = True)

In [47]:
#9/ Remove duplicate rows
data2 = data2.drop_duplicates()

In [48]:
#10/ Filter out data for customers with Income equal to or less than 0
data2[data2['Income'] <= 0]

,Customer,State,Gender,Customer Lifetime Value,Income,Monthly Premium Auto,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,NaN,0,1000,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,"6,979.54",0,94,Personal Auto,Four-Door Car,1131.464935
3,WW63253,California,M,"7,645.86",0,106,Corporate Auto,SUV,529.881344
7,CF85061,Arizona,M,"7,216.10",0,101,Corporate Auto,Four-Door Car,363.029680
10,SX51350,California,M,"4,738.99",0,67,Personal Auto,Four-Door Car,482.400000
...,...,...,...,...,...,...,...,...,...
7059,WZ45103,California,F,5678.05,0,76,Personal Auto,Four-Door Car,364.800000
7061,RX91025,California,M,19872.3,0,185,Personal Auto,SUV,1950.725547
7062,AC13887,California,M,4629,0,67,Corporate Auto,Two-Door Car,482.400000
7067,TD14365,California,M,8163.89,0,85,Corporate Auto,Four-Door Car,790.784983
7069,Y167826,California,M,2611.84,0,77,Corporate Auto,Two-Door Car,369.600000